// large
@media (max-width: 992px) {
  .container {
    padding: 0 0.2rem;
    margin: auto;
  }
  .lead {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
    word-spacing: 2px;
  }

  #about {
    margin: 3rem 1rem;
  }

  #about-dark {
    margin: 3rem 1rem;
  }
  #Contact {
    margin: 2rem 0.5rem;
  }
  #Work {
    .items {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
  }
}

// mobile
@media (max-width: 576px) {
  .container {
    padding: 0 0.1rem;
    margin: auto;
  }
  #about {
    margin: 3rem 1rem;
    &-a {
      .info {
        grid-template-columns: 1fr;
      }
    }

    &-c {
      .about-logos {
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  #Contact {
    margin: 2rem 0;
    .form {
      input,
      textarea,
      button {
        width: 100%;
      }
      grid-template-areas:
        "name"
        "email"
        "subject"
        "phone"
        "message"
        "button";
    }
  }

  #Work {
    .items {
      grid-template-columns: repeat(1, 1fr);
      gap: 2rem;
    }
  }

  #Footer {
    margin-top: 2rem;
  }
}
