$max-width: 1300px;
$primary-color: rgb(231, 92, 93);
$secondary-color: rgb(98, 106, 136);
$light-color: rgb(247, 221, 116);
$medium-color: #FCFFE7;
$dark-color: #2B3467;
$third-color : rgb(128, 252, 229); 
// $bg-image: url("../img/computer.jpg");
