@import "../components/utilities";

#Home {
  // max-width: 1000px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  margin-top: 10rem;
  color: $medium-color;

  .heading {
    color: $dark-color;
    text-shadow: rgb(161, 90, 90) 0px 8px 24px;
    letter-spacing: 2px;
  }
  .text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    text-shadow: rgb(161, 90, 90) 0px 8px 24px;
    letter-spacing: 2px;

    .heart-icon {
      color: red;
      transition: 0.5s;

      &:hover {
        transform: scale(1.6);
      }
    }
  }
}

#HomeDark {
  // max-width: 1000px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  margin-top: 10rem;
  color: $medium-color;

  .heading {
    color: $primary-color;
    text-shadow: rgb(161, 90, 90) 0px 8px 24px;
    letter-spacing: 2px;
  }
  .text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    text-shadow: rgb(161, 90, 90) 0px 8px 24px;
    letter-spacing: 2px;

    .heart-icon {
      color: red;
      transition: 0.5s;

      &:hover {
        transform: scale(1.6);
      }
    }
  }
}
