// pages
@import "../styles/pages/About";
@import "../styles/pages/Contact";
@import "../styles/pages/Home";
@import "../styles/pages/NotFound";
@import "../styles/pages/Work";

// components
@import "../styles/components/footer";
@import "../styles/components/layout";
@import "../styles/components/navigation";
@import "../styles/components/utilities";
@import "../styles/components/variables";
@import "../styles/components/mobile";



// .active {
//   color: red;
// }


.loading {
  // height: 150px;
  // width: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}

.App {
  
  min-height: 100vh;
  min-width: 100vw;
  padding: 5rem 3rem ;
  background-color: $primary-color;
  color: $third-color;
}

.AppDark{
  min-height: 100vh;
  min-width: 100vw;
  padding: 5rem 3rem ;
  background-color: $dark-color;
  color: $third-color;
}
